/* CALENDAR COMPONENT: */

.calendar {
    width: 614px;
    background-color: #fff;
    font-family: Quicksand;
    color: rgb(79, 79, 79);
}

.availability {
    height: 45px;
    font-size: .95em;
    margin: 0px 40px 0px 0px;
}

.minStay_and_clearDateButton {
    display: flex;
    display: relative;
    justify-content: space-between;
    
}

.clear_date {
    color: rgb(0, 160, 177);
    text-decoration: underline;
}

.hide_MinStayClrBtn {
    height: 0px;
}

.show_MinStayClrBtn {
    height: auto;
}

.buttons {
    position: relative;
}

.arrows {
    fill : rgb(128, 128, 128);
}

.left_button,
.left_button:active, 
.left_button:focus, 
.left_button:focus:active  {
    position: absolute;
    top: 12px;
    left: 0px;
    height: 15px;
    width: 20px;
    border: .5px solid rgb(235, 235, 235);
    border-radius: 4px;
    margin: auto;
    padding: 1% 1.5% 2% 1.5%; 
    box-shadow: none;
    -webkit-box-shadow: none;
}

.left_button:hover {
    border: 1px solid rgb(163, 163, 163);
}

.right_button,
.right_button:active, 
.right_button:focus, 
.right_button:focus:active {
    position: absolute;
    top: 12px;
    right: 0px;
    height: 15px;
    width: 20px;
    border: .5px solid rgb(235, 235, 235);
    border-radius: 3px;
    margin: auto;
    padding: 1% 1.5% 2% 1.5%;
}

.right_button:hover {
    border: 1px solid rgb(163, 163, 163);
}

.right_button__no-hover {
    border: .5px solid rgb(220, 220, 220);
}

.arrow_button {
    color: rgb(220, 220, 220);
}

.calendar_container {
    display: flex;
}




/* MONTH COMPONENT */

.month {
    padding: 0px 13px;
    text-align: center;
}

.month_title {
    width: 281px;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

.weekdays {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.weekday {
    width: 40.143px;
    height: 26px;
    align-items: center;
    border-radius: 11px; 
    font-size: .75em;
}




/* DAY COMPONENT */

.day_container {
    position: relative;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.dayNumber {
    padding: 26% 0px 0% 0px;
}


.date_taken {
    font-size: .9em;
    font-weight: 600;
    width: 36.143px; 
    height: 36.143px;
    border-radius: 4px; 
    background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px); color: rgb(0, 0, 0); border: 2px solid rgb(255, 255, 255); 
    color: rgb(216, 216, 216);
}

.doesnt_exist {
    width: 40.143px; 
    height: 36.143px;
}

.date_available {
    font-size: .9em;
    font-weight: 600;
    width: 38.143px; 
    height: 38.143px;
    margin: 1px;
    border-radius: 4px; 
    background: rgb(230, 249, 249);
    color: rgb(35, 117, 90);
}

.date_available:hover {
    background: rgba(121, 189, 189, 0.61);
    
}

.starting_date {
    font-size: .9em;
    font-weight: 600;
    width: 38.143px; 
    height: 38.143px;
    border-radius: 4px; 
    padding: 0px;
    margin: 1px;
    background: rgb(0, 103, 76);
    color: rgb(255, 255, 255);
}

.inbetween_dates {
    font-size: .9em;
    font-weight: 600;
    width: 38.143px; 
    height: 38.143px;
    border-radius: 4px; 
    padding: 0px;
    margin: 1px;
    background: rgba(144, 224, 224, 0.61);
    color: rgb(255, 255, 255);
}

.minNightPopup {
    position: absolute;
    top : -24px;
    font-size: .7em;
    background-color: white;
    height: 10px;
    opacity: 1;
    border-radius: 4px;
    width: 118px;
    padding: 0px 0px 10px 0px;
    box-shadow: 1px 1px;
    z-index: 2;

}